<div ng-controller="apiController">

    <div id="swagger-ui-container" class="swagger-ui-wrap">
        <!-- Include info directive -->
        <div class="info" id="api_info">

        </div>

        <div class="container" id="resources_container">
            <ul id="resources">
                <div ng-repeat="endPoint in api.apis">
                    <end-point-directive end-point="endPoint">
                    </end-point-directive>
                </div>
            </ul>

            <!--Include footer directive-->
            <div class="footer">
                <br>
                <br>
                <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{api.basePath}}
                    , <span style="font-variant: small-caps">api version</span>: {{api.apiVersion}}
                    ]</h4>
            </div>
        </div>
    </div>


</div>