<li class="endpoint" ng-controller="methodController">
    <ul class="operations">
        <li class="{{method.method}} operation" id="{{idPrefix}}">
            <div class="heading">
                <h3>
                  <span class="http_method">
                    <a ng-href="{{methodUrl}}">{{method.method}}</a>
                  </span>
                  <span class="path">
                    <a ng-href="{{methodUrl}}" ng-click="toggleContent()">{{method.path}}</a>
                      :{{method.description}}
                  </span>
                </h3>
                <ul class="options">
                    <li>
                        <a ng-href="{{methodUrl}}"></a>
                    </li>
                </ul>
            </div>
            <div class="content" id="{{idPrefix}}_content" ng-show="isShow">
                <h4>Response Class</h4>
                <signature-directive signature="method.responseClassSignature"
                                     json="method.responseSampleJSON"></signature-directive>
                <br>
                <response-type-directive produces="method.produces"></response-type-directive>
                <sand-box-form method="method"></sand-box-form>
                <!-- TODO Try out response.. -->
                <div class="response" style="display:none">
                    <h4>Request URL</h4>

                    <div class="block request_url"></div>
                    <h4>Response Body</h4>

                    <div class="block response_body"></div>
                    <h4>Response Code</h4>

                    <div class="block response_code"></div>
                    <h4>Response Headers</h4>

                    <div class="block response_headers"></div>
                </div>
            </div>
        </li>
    </ul>
</li>