<h4>Parameters</h4>
<table class='fullwidth'>
    <thead>
    <tr>
        <th style="width: 100px; max-width: 100px">Parameter</th>
        <th style="width: 100px; max-width: 100px">Parameter Type</th>
        <th style="width: 310px; max-width: 310px">Value</th>
        <th style="width: 200px; max-width: 200px">Description</th>
        <th style="width: 220px; max-width: 230px">Data Type</th>
    </tr>
    </thead>
    <tbody class="operation-params">
    <tr param="parameter" ng-controller="parameterController"
        ng-repeat="parameter in parameters">
        <td ng-class='{code:true, required: required}'>{{name}}</td>
        <td ng-bind-html="paramType"></td>
        <td>
            <!-- if it is a List  -->
            <div ng-if="isList">
                <!-- TODO need to write for all cases-->
                <select class='parameter' name='{{name}}' multiple ng-if="isArray">
                    <option ng-selected="item.isDefault" value="item.value"
                            ng-repeat="item in allowableValues.descriptiveValues">{{item.value}}{{item.isDefault ?
                        " (Default)"
                        : ""}}
                    </option>
                </select>
                <select class='parameter' name='{{name}}' ng-if="!isArray">
                    <option ng-selected="item.isDefault" value="item.value"
                            ng-repeat="item in allowableValues.descriptiveValues">{{item.value}}{{item.isDefault ?
                        " (Default)"
                        : ""}}
                    </option>
                </select>
            </div>
            <!-- else (it is not a List)  -->
            <div ng-if="!isList">
                <!-- if it is readOnly -->
                <div ng-if="readOnly">
                    <text-area ng-if="isBody"></text-area>
                    <span ng-if="!isBody">
                        {{defaultValue || "(empty)" }}
                    </span>
                </div>
                <!-- else (it is not a readOnly) -->
                <div ng-if="!readOnly">
                    <div ng-if="isBody">
                        <input type="file" name='{{name}}' ng-if="isFile"/>
                        <text-area ng-if="!isFile"></text-area>
                        <br/>

                        <div class="parameter-content-type" ng-if="!defaultValue">
                            <content-type model="contentTypeParams"></content-type>
                        </div>
                    </div>
                    <div ng-if="!isBody">
                        <!-- is a file-->
                        <input ng-if="isFile" class='parameter' name='{{name}}' ng-required="{{required}}"
                               type="file"/>

                        <!-- Not a File -->
                        <input ng-if="!isFile" ng-class='{parameter:true, required:required}' name='{{name}}'
                               ng-required="{{required}}"
                               ng-attr-placeholder="{{required && '(required)' || '(optional)'}}"
                               type="text" value='{{defaultValue}}'/>
                    </div>
                </div>
            </div>

        </td>
        <td>
            <span ng-class="{bold: required}" ng-bind-html="description">
            </span>
        </td>
        <td>
            <span class="model-signature">
                <signature model="signatureParams"></signature>
            </span>
        </td>
    </tr>
    </tbody>
</table>