<li class="resource" ng-controller="resourceController">
    <div class='heading'>
        <h2>
            <a ng-href='#!/{{id}}' ng-click="toggleEndPoints();">{{name}}</a>
            <span ng-if="description">
                : {{description}}
            </span>
        </h2>
        <ul class='options'>
            <li>
                <a href='#' ng-click="Docs.collapseOperationsForResource('{{id}}');">
                    Toggle Operations
                </a>
            </li>
            <li>
                <a href='{{url}}'>Raw</a>
            </li>
        </ul>
    </div>
    <ul class='endpoints' id='{{id}}_endpoint_list' ng-show="isEndPointsShow">
        <method model="method" ng-repeat="method in methods"></method>
    </ul>
</li>
