<div class="model-signature" ng-controller="signatureController">
    <div>
        <ul class="signature-nav">
            <li><a ng-class="{descriptionLink: true, selected: !isModelSchemaShow}"
                   ng-click="isModelSchemaShow=false" href>Model</a></li>
            <li><a ng-class="{snippetLink: true, selected: isModelSchemaShow}"
                   ng-click="isModelSchemaShow=true" href>Model Schema</a></li>
        </ul>
        <div>
            <div class="signature-container">
                <div class="description" ng-hide="isModelSchemaShow"
                     ng-bind-html="modelSignature">
                </div>

                <div class="snippet" ng-show="isModelSchemaShow">
                                    <pre>
<code class="json" ng-bind-html="modelSchema"></code></pre>
                    <small class="notice"></small>
                </div>
            </div>

        </div>
    </div>
</div>